body{
	background:#ddd url('darkdenim3.png') repeat;
	font-family:sans-serif;
}

h1{
	text-align:center;
	letter-spacing:.01em;
	text-shadow:1px 0px 0px #333;
	color:#fff;
	font-weight:normal;
}

.info-bar{
	margin:auto;
	margin-bottom:10px;
	width:90%;
	padding:20px;
	text-align:center;
	background:#eee;
	min-width:1400px;
}

canvas{
	margin:auto;
	border:1px solid #aaa;
	background:#ffffff;
}

.imp{
	border:5px solid #bbb;
}

.floater{
	display:inline-block;
	width:140px;
	background:#fff;
	padding:20px;
	border-radius:10px;
	margin-left:15px;
}

.title{
	font-weight:bold;
}

a{
	color:red;
}

a:hover{
	color:blue;
}

.points{
	font-size:2em;
	font-weight:bold;
	display:inline-block;
	margin-left:10px;
}

.small span{
	font-size:.8em;
}

.small{
	width:300px;
	text-align:left;
}

.bar{
	height:1px;
	float:left;
	background:#69C;
	width:6px;
	margin-right:2px;
	position:absolute;
	bottom:0px;
}

.hidden{
	position:absolute;
	top:45%;
	left:0;
	width:100%;
	padding:10px;
	font-size:2em;
	background:pink;
	color:#111;
	opacity:0.8;
	text-align:center;
	display:none;
}