body, html{
	background: #eee;
	margin:0px;
	padding:0px;
	font-family:"Helvetica", sans-serif;
}

#line{
	font-size:20px;
	text-align:center;
	color:#333;
	height:21px;
	width:960px;
	padding:20px;
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-500px;
	margin-top: 115px;
	background: #fff;
	border-bottom: 1px solid #aaa;
}

a{
	color:#69C;
	text-decoration:none;
}

a:hover{
	color:#9CF;
}

.the404{
	color:#999;
}

.kitten {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 1000px;
	height: 600px;
	margin-top: -450px;
	margin-left: -500px;
}