$unit: 20px;

$labs-color: #78C476;
$about-color: #C47676;
$contact-color: #769CC4;

@mixin ring($left-offset, $color) {
    $ring-size: 5 * $unit;
    $ring-size-hover: 6 * $unit;

    display: block;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $ring-size;
    width: $ring-size;
    text-align: center;
    margin-top: -1 * $ring-size/2;
    margin-left: -1 * $ring-size/2 + $left-offset * $ring-size-hover;
    background: $color;
    border-radius: $ring-size;
    line-height: $ring-size;
    color: lighten($color, 40%);
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.66,.01,.25,.99);

    &:hover, &.active {
        height: $ring-size-hover;
        width: $ring-size-hover;
        margin-top: -1 * $ring-size-hover/2;
        margin-left: -1 * $ring-size-hover/2 + $left-offset * $ring-size-hover;
        border-radius: $ring-size-hover;
        line-height: $ring-size-hover;
    }

    &:hover {
        .caption {
            opacity: 1;
        }
    }

    &.active {
        top: 5 * $unit;
        opacity: 0.8;
    }
}

html, body {
    margin: 0;
    font-family: sans-serif;
    background: #eee;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    min-height: 100%;
}

code {
    padding: 2px;
    border: 1px solid #eee;
    background: #fcfcfc;
    border-radius: 4px;
}

a {
    color: darken($labs-color, 10%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.full-image{
    width: 100%;
}

.page {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .labs {
        @include ring(0, $labs-color);
    }

    .about {
        @include ring(-1, $about-color);
    }

    .contact {
        @include ring(1, $labs-color);
    }

    &.active {
        overflow: scroll;
    }
}

.content {

    font-family: "News Cycle";

    position: absolute;
    top: 150%;
    width: 100%;
    z-index: 99;
    transition: all 0.4s cubic-bezier(.66,.01,.25,.99);
    margin-top: 0;

    h1 {
        font-size: $unit;
        font-weight: normal;
    }

    .container {
        padding: 2 * $unit;
        padding-top: 4 * $unit;
        max-width: 600px;
        line-height: 1.6em;
        background: #fff;
        color: #333;
        margin: auto;
        margin-bottom: $unit;
    }

    .break {
        width: 5 * $unit;
        border-top: 1px solid #aaa;
        margin-bottom: 2 * $unit;
        margin-top: $unit;
    }

    &.active {
        display: block;
        top: 100px;
        opacity: 1;
    }
}

::selection {
    background: $labs-color;
    color: lighten($labs-color, 50%);
}