$bright-color: #78C476;

html, body {
    margin: 0;
    font-family: sans-serif;
    background: #eee;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    min-height: 100%;
}

a {
    color: darken($bright-color, 10%);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .ring {
        $ring-size: 100px;
        $ring-size-hover: 120px;

        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        height: $ring-size;
        width: $ring-size;
        text-align: center;
        margin-top: -1 * $ring-size/2;
        margin-left: -1 * $ring-size/2;
        background: $bright-color;
        border-radius: $ring-size;
        line-height: $ring-size;
        color: lighten($bright-color, 40%);
        font-size: 2em;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.4s cubic-bezier(.66,.01,.25,.99);

        &:hover, &.active {
            height: $ring-size-hover;
            width: $ring-size-hover;
            margin-top: -1 * $ring-size-hover/2;
            margin-left: -1 * $ring-size-hover/2;
            border-radius: $ring-size-hover;
            line-height: $ring-size-hover;
        }

        &.active {
            top: 100px;
        }
    }
    &.active {
        overflow: scroll;
    }
}

.content {

    position: absolute;
    top: 150%;
    width: 100%;
    z-index: 99;

    .container {
        max-width: 600px;
        padding: 20px;
        padding-top: 80px;
        line-height: 1.6em;
        background: #fff;
        color: #333;
        margin: auto;
        margin-bottom: 20px;
    }

    transition: all 0.4s cubic-bezier(.66,.01,.25,.99);
    margin-top: 0;

    &.active {
        display: block;
        top: 100px;
        opacity: 1;
    }
}

::selection {
    background: $bright-color;
    color: lighten($bright-color, 40%);
}