html, body {
  margin: 0;
  padding: 0 20px;
  font-family: 'adobe-garamond-pro', sans-serif;
  font-size: 24px;
  background: #eee;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  color: #333;
  min-height: 100%;
  background: #f3f3f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#e5e5e5',GradientType=0 );
  /* IE6-9 */
  background-attachment: fixed; }

a {
  text-decoration: none;
  color: #1b7ee0;
  transition: color 0.5s ease-in-out; }

a:hover {
  color: #104b85; }

p, ul {
  line-height: 1.6em; }

img {
  display: block; }

h1 {
  font-weight: 400;
  font-style: italic;
  text-align: center; }

h2 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center; }

code {
  font-family: 'Droid Sans Mono', monospace; }

.break {
  height: 0px;
  border-top: 1px solid #eee;
  margin: 40px 0; }

.break-short {
  height: 0px;
  width: 100px;
  border-top: 1px solid #ddd;
  margin: 20px 0;
  margin: auto; }

.highlight {
  padding: 20px;
  background: #333;
  margin-top: 20px;
  font-size: 16px; }

.caption {
  font-style: italic; }

.container, .nav {
  position: relative;
  margin: auto;
  max-width: 1000px;
  min-width: 400px; }

.nav {
  padding: 20px 0;
  text-align: right; }
  .nav a {
    color: #555;
    font-family: sans-serif;
    font-size: 16px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
    transition: none; }
  .nav a:hover {
    background: #1b7ee0;
    color: #fff; }

.container {
  background: #fff;
  padding: 80px 0;
  border-top: 2px solid #1b7ee0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px; }
  .container p, .container ul, .container h1, .container h2, .container h3, .container .link-holder {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px; }
  .container img, .container .highlight {
    max-width: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto; }
  .container ul {
    text-indent: 0;
    padding-left: 0;
    list-style-type: none; }
  .container li:before {
    color: #333;
    content: "\2013";
    position: relative;
    left: -1em; }
  .container li {
    text-indent: -0.5em; }

.post-title {
  text-align: center; }

.link-holder {
  height: 3em;
  position: relative; }

.previous-post {
  position: absolute;
  left: 0;
  top: 1em;
  max-width: 50%;
  padding-left: 40px; }

.next-post {
  text-align: right;
  position: absolute;
  top: 1em;
  right: 0;
  width: 50%;
  padding-right: 40px; }

::selection {
  background: #1b7ee0;
  color: #cee4f9; }

.typekit-badge {
  display: none !important; }

.twitter {
  color: #53d4ff; }

.last-fm {
  color: #D51007; }

.rdio {
  color: #008fd5; }
