@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunrm.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunti.otf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunrb.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url('fonts/cmunbmr.otf');
}


/* TODO: add bold / italic like http://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages */

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Computer Modern", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

h1, h2, h3{
  font-family: "Source Sans Pro", "Computer Modern", "Helvetica", sans-serif;
  font-weight: normal;
}

h1 {
  color: rgba(10, 10, 10, 0.9);
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 25px;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: -5px;
}

h3 {
  color: rgba(90, 90, 90, 0.9);
  font-size: 1em;
  margin-bottom: 0;
  font-weight: normal;
  font-family: "Computer Modern", "Helvetica", sans-serif;
  font-style: italic;
}

p, li {
  line-height: 1.5em;
  color: #444;
  font-size: 16px;
}

h3 + p {
  margin-top: 0;
}

a {
  color: #E01B4C;
  text-decoration: none;
}

code {
  font-family: "Droid Sans Mono", monospace;
  font-size: 12px;
}

pre {
  background: #222;
  padding: 10px;
  white-space: pre-wrap;
}

.lineno {
  color: #aaa;
}

#container {
  width: 1000px;
  margin: auto;
}

#header {
  width: 299px;
  float: left;
  position: fixed;
  padding: 0 50px;
  height: 100%;
  border-right: 1px solid #eee;
}

.nav-link {
  padding: 5px;
  background: rgba(0,0,0,0);
  border-radius: 5px;
}

.nav-link:hover {
  background: #E01B4C;
  color: #fff;
}

.date {
  margin-top: -5px;
  margin-bottom: 1em;
}

.header-spacer {
  margin-top: 80px;
}

#content {
  width: 500px;
  padding: 0 50px;
  float: right;
  /*background: rgba(200, 200, 230, 0.8);*/
}

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

#content-resume {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }​