@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunrm.otf');
}

@font-face {
  font-family: "Computer Modern";
  font-family: monospace;
  src: url('fonts/cmunorm.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunti.otf');
  font-style: italic;
}

@font-face {
  font-family: "Computer Modern";
  src: url('fonts/cmunrb.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern Sans";
  src: url('fonts/cmunbmr.otf');
}


/* TODO: add bold / italic like http://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages */

html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Computer Modern", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}

h1, h2, h3{
  font-family: "Computer Modern", "Helvetica", sans-serif;
}

h1 {
  color: rgba(10, 10, 10, 0.9);
  font-size: 2.3em;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 25px;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: -15px;
}

h3 {
  color: rgba(90, 90, 90, 0.9);
  font-size: 1em;
  margin-top: -5px;
  font-weight: normal;
  font-style: italic;
}

p, li {
  line-height: 1.5em;
  color: #444;
  font-size: 16px;
}

a {
  color: #E01B6A;
  text-decoration: none;
}

code {
  font-size: 14px;
}

#header {
  position: fixed;
  left:   0;
  top:    0;
  bottom: 0;
  width: 300px;
  padding: 0 50px;
}

.nav-link {
  padding: 5px;
  background: rgba(0,0,0,0);
  border-radius: 5px;
}

.nav-link:hover {
  background: #E01B6A;
  color: #fff;
}

.header-spacer {
  margin-top: 80px;
}

#content {
  margin-left: 400px;
  width: 400px;
  padding: 0 50px;
  /*background: rgba(200, 200, 230, 0.8);*/
}

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }​