html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  font-weight: 200;
  font-style: normal;
  background: #fcfdfe;
  font-size: 1.25em;
  padding: 80px 20px 0 20px;
}

ul {
  margin-left: 10px;
  padding-left: 0;
}

h1, h2, h3, h4{
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  font-weight: 300;
  text-align: left;
}

h1 {
  color: rgba(40, 40, 40, 0.9);
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 25px;
}

h2 {
  color: rgba(40, 40, 40, 0.9);
  font-size: 1.4em;
  margin-top: 25px;
  margin-bottom: -5px;
  font-style: italic;
}

h3 {
  color: rgba(20, 20, 20, 0.9);
  font-size: 1em;
  margin-bottom: 0;
  font-style: italic;
}

h4 {
  color: rgba(90, 90, 90, 0.8);
  font-size: 1em;
  margin-bottom: 0;
}

p, li {
  line-height: 1.6em;
}

h3 + p {
  margin-top: 0.25em;
}

a {
  color: rgb(42,156,97);
  text-decoration: none;
}

a:hover {
  color: rgb(96,108,136);
          transition: color 1s;
  -webkit-transition: color 1s;
}

code {
  font-family: "Monaco", "Droid Sans Mono", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  background: #fdfdfd;
  border-radius: 3px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #eee;
}

pre code {
  background: none;
  line-height: auto;
  height: auto;
  padding: 0;
  border: 0;
}

pre {
  background: #333;
  white-space: pre-wrap;
  padding: 20px;
}

.ring {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  float: left;
  margin: 0 20px 20px 0;
  border: 1px solid #eee;
  vertical-align: middle;
  padding: 3px;
  background: #fff;
}

.ring img{
  width: 100%;
  border-radius: 100%;
}

/* Smaller elements. */
.highlighted, .container, .post p, .post h1, .post h2, .post h3, .header div, .post ul, .post iframe {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Larger elements. */
.highlight, .post img {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: block;
}

.post iframe {
  display: block;
}

.post li {
  margin: 10px 0;
}

.standard-break {
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

.unstyled {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.highlighted {
  background: #fff;
  border: 1px solid #eee;
  padding: 0 40px;
}

.green-bar {
  background: rgb(42,156,97); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(42,156,97,1) 0%, rgba(37,115,74,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(42,156,97,1)), color-stop(100%,rgba(37,115,74,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(42,156,97,1) 0%,rgba(37,115,74,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(42,156,97,1) 0%,rgba(37,115,74,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(42,156,97,1) 0%,rgba(37,115,74,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(42,156,97,1) 0%,rgba(37,115,74,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a9c61', endColorstr='#25734a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Links for : color: #608CD1;; */
.blue-bar {
  background: rgb(96,108,136); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.red-bar {
  background: rgb(201,0,0); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(201,0,0,1) 0%, rgba(173,36,36,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(201,0,0,1)), color-stop(100%,rgba(173,36,36,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(201,0,0,1) 0%,rgba(173,36,36,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(201,0,0,1) 0%,rgba(173,36,36,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(201,0,0,1) 0%,rgba(173,36,36,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(201,0,0,1) 0%,rgba(173,36,36,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90000', endColorstr='#ad2424',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header {
  padding: 20px;
  background-size: 100% 200px;
  position: absolute;
  top: 0; right: 0; left: 0;
  color: #fff;
  z-index: 2;
}

.top-bar {
  height: 4px;
  position: fixed;
  left:  0;
  right: 0;
  top:   0;
}

.name-link {
  color: #fff;
}

.email-link {
  font-style: normal;
  color: #efefef;
}

.world-link {
  background: url('../img/common/37-white.png');
  width: 16px;
  height: 16px;
  display: inline-block;
}

.name-link:hover, .email-link:hover {
  color: #fff;
}

.facebook {
  background: #3b5998;
}

.lineno {
  color: #aaa;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.date {
  margin-top: -5px;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.full-photo {
  width: 100%;
  max-width: 1400px;
  max-height: 800px;
  height: auto;
}

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.posts .icon {
  margin-top: 8px;
  margin-right: 0.5em;
}

.posts li {
  margin: 5px;
}

.posts li span {
  float: right;
}

.caption {
  text-align: center;
  font-style: italic;
}

.social-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0;
}

.tooltip-inner {
  font-family: sans-serif;
}

.last-fm-icon {
  background: url('../img/index/icons/LastFM.png')
}

.facebook-icon {
  background: url('../img/index/icons/Facebook.png')
}

.github-icon {
  background: url('../img/index/icons/Github.png')
}

.linkedIn-icon {
  background: url('../img/index/icons/LinkedIn.png')
}

::-moz-selection { background: #eee; color: #333;}
::selection { background: #eee; color: #333;}​ /*e3e3e1*/