html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 200;
  font-style: normal;
  background: #fcfdfe;
  font-size: 1.25em;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

ul {
  margin-left: 10px;
  padding-left: 0;
}

h1, h2, h3, h4{
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;
  text-align: left;
}

h1 {
  color: rgba(40, 40, 40, 0.9);
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 25px;
}

h2 {
  color: rgba(40, 40, 40, 0.9);
  font-size: 1.4em;
  margin-top: 25px;
  margin-bottom: -5px;
}

h3 {
  color: rgba(20, 20, 20, 0.9);
  font-size: 1em;
  margin-bottom: 0;
  font-style: italic;
}

h4 {
  color: rgba(90, 90, 90, 0.8);
  font-size: 1em;
  margin-bottom: 0;
}

p, li {
  line-height: 1.6em;
}

h3 + p {
  margin-top: 0.25em;
}

a {
  color: #345661;
  text-decoration: none;
          transition: all 1s;
  -webkit-transition: all 1s;
}

a:hover {
  color: #669FB3;
}

code {
  font-family: "Monaco", "Droid Sans Mono", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  background: #fdfdfd;
  border-radius: 3px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #eee;
}

pre code {
  background: none;
  line-height: auto;
  height: auto;
  padding: 0;
  border: 0;
}

pre {
  background: #333;
  white-space: pre-wrap;
  padding: 20px;
}

/* When the screen gets small, compensate. */
@media all and (max-width: 900px) {
    .last-fm-container { display: none; }
}

.post {
  margin: 40px 20px 0 20px;
}

/* Smaller elements. */
.highlighted, .container, .post p, .post h1, .post h2, .post h3, .header div, .post ul, .post iframe {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/* Larger elements. */
.highlight, .post img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.post iframe {
  display: block;
}

.post li {
  margin: 10px 0;
}

.standard-break {
  margin-bottom: 20px;
}

.content {
  margin-bottom: 20px;
}

.unstyled {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.highlighted {
  background: #fff;
  border: 1px solid #eee;
  padding: 0 40px;
}

.header {
  padding: 20px;
  background-size: 100% 200px;
  position: absolute;
  top: 0; right: 0; left: 0;
  color: #fff;
  z-index: 2;
}

.name-link {
  color: #eee;
  border: none;
  font-weight: 300;
  text-shadow: 0 0 10px #333;
}

.top-bar {
  height: 6px;
  position: absolute;
  left:  0;
  right: 0;
  top:   66px;
}

.top-bar-fixed {
  position: fixed;
  top:   0;
}

.name-link:hover {
  border: none;
}

.name-link:hover {
  color: #fff;
}

.lineno {
  color: #aaa;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.date {
  margin-top: -5px;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.full-photo {
  width: 100%;
  max-width: 1400px;
  max-height: 800px;
  height: auto;
}

.leader {
  width: 100%;
  background-position: center bottom;
  background-size: cover;
  height: 300px;
  position: relative;
}

.leader h1 {
  line-height: 300px;
  text-align: left;
  font-size: 20px;
  color: #eee;
  text-shadow: 0 0 10px #333;
  font-size: 3em;
  font-weight: 300;
  margin: 0;
}

.leader-index {
  background-image: url('/img/index/hello.jpg');
}

.links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  color: white;
  opacity: 0.5;
  padding: 0 20px;
}

.links a {
  color: #fff;
}

.artist {
  opacity: 0.5;
}

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.icon {
  margin-right: 0.5em;
  width: 2em;
}

.posts li {
  margin: 5px;
}

.posts li span {
  float: right;
}

.caption {
  font-style: italic;
}

::-moz-selection { background: #eee; color: #333;}
::selection { background: #eee; color: #333;}​ /*e3e3e1*/