html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #fff;
  font-size: 18px;

  background: #ffffff; /* Old browsers */

}

h1, h2, h3, h4{
  font-family: "Lora", "Helvetica", sans-serif;
  font-weight: normal;
}

h1 {
  color: rgba(10, 10, 10, 0.9);
  font-size: 2.5em;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-bottom: 25px;
}

h2 {
  color: rgba(10, 10, 10, 0.9);
  font-size: 1.4em;
  margin-top: 35px;
  font-style: italic;
  margin-bottom: -5px;
}

h3 {
  color: rgba(90, 90, 90, 0.9);
  font-size: 1em;
  font-style: italic;
  margin-bottom: 0;
  font-family: "Lora", "Helvetica", sans-serif;
}

h4 {
  color: rgba(90, 90, 90, 0.8);
  font-size: 1em;
  margin-bottom: 0;
  font-family: "Lora", "Helvetica", sans-serif;
}

p, li {
  line-height: 1.6em;
}

h3 + p {
  margin-top: 0.25em;
}

a {
  color: #008080;
  text-decoration: none;
}

a:hover {
  color: #ED7851;
          transition: color 1s;
  -webkit-transition: color 1s;
}

code {
  font-family: "Monaco", "Droid Sans Mono", "Consolas", "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  background: #fdfdfd;
  border-radius: 3px;
  padding: 0 4px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #eee;
}

pre code {
  background: none;
  line-height: auto;
  height: auto;
  padding: 0;
  border: 0;
}

pre {
  white-space: pre-wrap;
}

.canvas-window {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 0;
}

.container {
  width: 600px;
  margin: auto;
}

.unstyled {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.header {
  font-family: "Lora", "Helvetica", sans-serif;
  font-weight: 300;
/*  border-bottom: 1px solid #eee;
  background: #fefefe;
  opacity: 0.95;
*/  padding: 40px;
}

.header span a {
  font-style: italic;
  color: #333;
  border: none;
  font-weight: normal;
}

.header a {
  font-style: normal;
}

.topmost {
  z-index: 1000;
  position: relative;
}

.grand {
  font-size: 2em;
  margin-top: 100px;
  color: #555;
}

.masked{
  color: rgb(69,72,77);
}

.lineno {
  color: #aaa;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.date {
  margin-top: -5px;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.full-photo {
  position: fixed;
  left: 0;
  right: 0;
  top: 103px;
  bottom: 100px;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.posts {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.icon {
  margin-right: 1em;
  margin-top: 4px;
}

.posts li {
  border-top: 1px solid #eee;
  padding: 5px;
}

.posts li:last-child {
  border-bottom: 1px solid #eee;
}

.posts li span {
  float: right;
}

.footer {
  padding-bottom: 20px;
  text-align: center;
}

.caption {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #aaa;
  min-height: 100px;
  background: #fff;
}

.color-toggle {
/*  background: rgba(242,201,228, 0.9);
  padding: 3px;
  border: none !important;*/
}

::-moz-selection { background: #d01040; color: #fff;}
::selection { background: #d01040; color: #fff;}​ /*e3e3e1*/