[submodule "manager-beliefs"]
	branch = main
	path = manager-beliefs
	url = https://github.com/capshaw/manager-beliefs
[submodule "resume"]
	path = resume
	url = https://github.com/capshaw/resume
[submodule "particles"]
	path = particles
	url = https://github.com/capshaw/particles
[submodule "flock.js"]
	path = flock.js
	url = https://github.com/capshaw/flock.js
