---
layout: default
title: Home
---

<div class='content post'>
    <h2>Hi there!</h2>
    <p>
        I'm a rising senior in the computer science department at Rice University in Houston, TX. I like to build things of all sorts, especially websites. <a href='#' id='about-toggle'>More about me.</a>
    </p>
    <div id='about' class='hidden'>
        <img src='/img/common/me.jpg' class='inline-image' alt='Hiking on Enchanted Rock'>
        <p class='caption'>
            Hiking on Enchanted Rock.
        </p>
        <p>
            I began building websites when I was in middle school and have been doing so ever since. From the beginning, I have always had an emphasis on user-friendly interfaces and sensible design on the backend.
        </p>
        <p>
            When I'm not hacking away at some code, I can be found attempting to compose music, hiking the trails of central texas or attending concerts.
        </p>
    </div>
    <div class='highlighted'>
        <ul class='posts'>
            <li><i class='icon icon-map-marker'> </i> Houston, TX</li>
            <li><i class='icon icon-envelope'> </i> <a href='mailto:capshaw@rice.edu'>capshaw@rice.edu</a></li>
        </ul>
    </div>
    <!-- div class='highlighted'>
        <div class='small-list'>
            <h3>Contact</h3>
            <ul>
                <li><a href='#'>Facebook</a></li>
                <li><a href='#'>LinkedIn</a></li>
                <li><a href='#'>Github</a></li>
                <li><a href='#'>Last.fm</a></li>
            </ul>
        </div>
        <div class='small-list'>
            <h3>Projects</h3>
            <ul>
                <li><a href='#'>UElect</a></li>
                <li><a href='#'>Maze Factory</a></li>
                <li><a href='#'>General Cluster</a></li>
                <li><a href='#'>Rice Degree Planner</a></li>
            </ul>
        </div>
        <div class='small-list'>
            <h3>Technologies</h3>
            <ul>
                <li>Web Development</li>
                <li>Python</li>
                <li>Java</li>
                <li>MySQL / MariaDB</li>
                <li>Ubuntu / OSX</li>
            </ul>
        </div>
        <br class='clear'>
    </div -->
    <div class='container'>
        <h3>Sometimes I write things.</h3>
        <ul class='posts'>
            {% for post in site.posts %}
            <li>
                <span>{{ post.date | date: "%d %B %Y" }}</span>
                {% if post.layout == 'photo' %}
                    <i class='icon icon-camera'> </i>
                {% elsif post.layout == 'code' %}
                    <i class='icon icon-folder-open'> </i>
                {% elsif post.layout == 'post' %}
                    <i class='icon icon-align-justify'> </i>
                {% endif %}
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>