body{
    font-family: "Helvetica", sans-serif;
    padding: 0px;
    margin: 0px;
    background:#333 url(../img/use_your_illusion.png);
    color:#eee;
}

#mainCanvas {
    background: #333;
    margin: auto;
    display: block;
}

#mazeContainer {
    background: #333;
    padding: 0px;
}

#title{
    font-size: 25px;
    font-weight: normal;
    background: #222;
    margin: 0px;
    padding:20px;
}

#percent {
    opacity: 0.7;
}

#createdBy {
    text-align: center;
    padding: 30px;
    color:rgba(200, 200, 200, 0.7);
    font-size: 1.3em;
}

#options{
    background: #666;
    display:none;
    padding: 0 10px;
    text-align: right;
}

a {
    color: #eee;
    text-decoration: none
}

.floatRight{
    float:right;
}

#bugs {
    display:none;
}

.panelButton {
    display:inline-block;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    background:#eee;
    color:#555;
    font-size: 0.8em;
    padding: 0 10px;
    min-width: 50px;
}

.buttonOn {
    background: #222;
    color:#fff;
    text-transform: line-through;
}

.smallMaze {
    background: url('../img/small.png') no-repeat center center;
}

.mediumMaze {
    background: url('../img/medium.png') no-repeat center center;
}

.largeMaze {
    background: url('../img/large.png') no-repeat center center;
}

#mapType{
    display:inline-block;
    border-bottom:1px dotted #666;
    opacity: 0.9;
}

.github_cat{
    background: url('../img/original.png') no-repeat center center;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: inline-block;
}