<div class="book-card">
    <img src="/static/img/books/{{page.book_image}}" alt="Book cover for {{page.title}}"/>
    <div>
        <a href="{{page.book_goodreads}}">{{page.title}}</a><br>
        {% if page.subtitle %}
            <span class="subtitle">{{page.subtitle}}</span><br>
        {% endif %}
        {% if page.book_author_primary %}
            <div>{{ page.book_author_ruby_primary }}, {{ page.book_author_ruby_secondary }}</div>
        {% else %}
            <div>{{ page.book_author }}</div>
        {% endif %}
        <div class="book-tag book-tag--{{page.book_tag}}">
            {{page.book_tag}}
        </div>
        <div class="rating-stars">{% for counter in (1..5) %}{% if page.book_rating >= counter %}<div class="star"></div>{% endif %}{% endfor %}</div>

        {% if page.book_quotes %}
            <div><a href="{{page.book_quotes}}">All clips from book</a></div>
        {% endif %}
    </div>
</div>