<div class="navigation">
    <div class="container">
        <a href="/" class="header-link">Andrew Capshaw</a>
        <a href="/reading">Reading</a>
        <a href="/journal">Journal</a>
        <!-- <a href="/now">Now</a> -->
        <a href="/lists">Lists</a>

        <a href="#" id="shades--dark-button" aria-label="Enable dark mode" class="shades-button">&nbsp;</a>
        <a href="#" id="shades--light-button" aria-label="Enable light mode" class="shades-button">&nbsp;</a>
    </div>
</div>