<div class="navigation">
    <input id="nav-dropdown" type="checkbox" name="menu" />
    <label class="burger-label" for="nav-dropdown">
        <span class="nav-dropdown-trigram">☰</span>
    </label>
    <a href="/" class="a--home-link">Andrew Capshaw</a>
    <div class="submenu">
        <div class="subsection subsection--life">
            <a href="/reading"><span>Reading list</span></a>
            <a href="/photos"><span>Photography</span></a>
            <a href="/journal"><span>Journal</span></a>
            <a href="/goals"><span>Goals</span></a>
            <a href="/lists"><span>Lists</span></a>
        </div>
        <div class="subsection subsection--work">
            <a href="/code"><span>Code</span></a>
            <a href="/work"><span>Work</span></a>
            <a href="/hire"><span>Hire me</span></a>
        </div>
    </div>
</div>