<div class="navigation">
    <input id="nav-dropdown" type="checkbox" name="menu" />
    <label class="burger-label" for="nav-dropdown">
        <span class="nav-dropdown-trigram">☰</span>
    </label>
    <a href="/" class="a--home-link">Andrew Capshaw</a>
    <div class="submenu">
        <div class="subsection subsection--life">
            <a href="/reading">Reading list</a>
            <a href="/photos">Photography</a>
            <a href="/journal">Journal</a>
            <a href="/goals">Goals</a>
            <a href="/lists">Lists</a>
        </div>
        <div class="subsection subsection--work">
            <a href="/code">Code</a>
            <a href="/work">Work</a>
        </div>
    </div>
</div>