@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../fonts/AtkinsonHyperlegibleNext-Regular.ttf');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../fonts/AtkinsonHyperlegibleNext-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../fonts/AtkinsonHyperlegibleNext-RegularItalic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Atkinson Hyperlegible Next';
    src: url('../fonts/AtkinsonHyperlegibleNext-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
    font-size: 18px;
}

.intro {
    background: #FAFACC;
}

.container {
    margin: auto;
    max-width: 600px;
    padding: 20px;
}

h3 {
    margin-bottom: 0;
}

.updated {
    margin-top: 0;
    color: #999;
    font-size: smaller;
}