// The gutter size is the size between columns when using the default gutter mode.
$u: 20px;
$gutter-size: $u;

// When using the collapsing grid, the width at which to collapse.
$break-large: 600px;

@mixin sizing($percent) {
    width: calc(#{$percent} - #{$gutter-size});
    display: inline-block;
    box-sizing: border-box;
    margin-right: $gutter-size;
    vertical-align: top;

    &.cell--no-gutter {
        width: $percent;
        margin-right: 0;
    }
}

.grid {
    margin-right: -$gutter-size;

    &.grid--collapse {
      @media screen and (max-width: $break-large) {
          margin-right: 0;
      }
    }
}

.cell {
  &.cell--collapse {
      @media screen and (max-width: $break-large) {
          width: 100%;

          &.no-gutter {
              width: 100%;
              margin-right: 0;
          }
      }
  }
}

.eighth-size {
    @include sizing(12.5%);
}

.quarter-size {
    @include sizing(25%);
}

.third-size {
    @include sizing(33.33333%);
}

.two-third-size {
    @include sizing(66.66666%);
}

.three-quarter-size {
    @include sizing(74%);
}

.half-size {
    @include sizing(50%);
}

.full-size {
    @include sizing(100%);
}
