$accent-color: #FDF6E3;
$mobile-break-width: 800px;

// -----------------------------
// Built-ins
// -----------------------------

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

body {
    &.darkmode {
        background: #232840;
        color: #eee;
    }
}

h1, h2, p {
    margin: 1em 0;

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-weight: bold;
    font-size: 1em;
    position: relative;
    font-family: sans-serif;
    font-size: 1.2em;

    .darkmode & {
        color: $accent-color;
        border-color: $accent-color;
    }
}

h2 {
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    font-size: 1.1em;

    .darkmode & {
        color: $accent-color;
        border-color: $accent-color;
    }
}

h3 {
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
    font-size: 1em;
    border-bottom: 1px solid #000;

    .darkmode & {
        color: $accent-color;
        border-color: $accent-color;
    }
}


a {
    text-decoration: none;
    color: #0041C3;

    .darkmode & {
        color: #4de4a5;
    }

    &:not([href]) {
        color: inherit;
        border: none;
    }
}

blockquote {
    font-style: italic;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

time {
    padding-right: .25em;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
    white-space: pre;
}

::selection {
    background: #b5deff;

    .darkmode & {
        background: #1b2a4b;
    }
}

// -----------------------------
// Building blocks
// -----------------------------

.container {
    margin: auto;
    max-width: 700px;
    padding: 20px 20px 0 20px;

    &:last-of-type {
        padding-bottom: 20px;
    }
}

.navigation {
    border-bottom: 2px solid #000;
    padding: 20px 0;

    .darkmode & {
        border-color: #424565;
    }

    .header-link {
        color: #000;
        font-weight: bold;

        .darkmode & {
            color: #fff;
        }
    }
}

.alert {
    background:#e3e5fd;
    padding: 20px;

    .darkmode & {
        background: #1e223a;
    }
}

.aside {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    .darkmode & {
        background: #1e223a;
    }
}

.hidden {
    display: none;
}

.no-break {
    white-space: nowrap;
}

// -----------------------------
// Page-specific
// -----------------------------

.intro {
    max-width: 300px;
}

.rating-stars {
    display: inline-block;
    font-size: smaller;

    .darkmode & {
        color: #ccc;
    }
}

.reading-container {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr min-content 100px;

    @media only screen and (max-width: $mobile-break-width) {   
        grid-template-columns: auto;

        // Moderately a hack
        :nth-child(4n) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 2px dashed #000;
        }
    }
}

.writing-container {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr min-content;
}

.elephant-vanishes-grid {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: minmax(0, 1fr) min-content;
    padding: 20px;
    background: #eee;

    .darkmode & {
        background: #2a304b;
    }

    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}