body, html {
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  color: #232323;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  padding-bottom: 40px; }

h2, h3 {
  margin-bottom: 0;
  margin-top: 0; }

p {
  font-family: "Droid Serif", sans-serif;
  line-height: 1.5em;
  font-style: normal;
  font-weight: 400; }

.content {
  max-width: 700px;
  margin: auto;
  margin-top: 40px; }
  .content .card {
    width: 50%;
    height: 156px;
    padding: 40px;
    color: #fff;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none; }
    .content .card.jellyfish {
      background: #6cad57;
      color: #e4f0e0; }
      .content .card.jellyfish:hover {
        background: #568c45; }
    .content .card.maze-factory {
      background: #dc4763;
      color: #fdf2f4; }
      .content .card.maze-factory:hover {
        background: #ca2645; }
    .content .card.sudoku {
      background: #1661b2;
      color: #a1c8f3; }
      .content .card.sudoku:hover {
        background: #104885; }
    .content .card.general-cluster {
      background: #333333;
      color: #999999; }
      .content .card.general-cluster:hover {
        background: #1a1a1a; }
    .content .card:hover {
      background: red; }
  .content:after {
    clear: both; }

.marketing {
  height: 640px;
  background: #eee;
  display: block;
  position: relative;
  background: url(/static/img/temp.png) no-repeat center center;
  background-size: cover; }
  .marketing .card {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff; }
    .marketing .card .lead-img {
      width: 220px;
      height: 220px;
      margin: 40px;
      margin-bottom: 20px;
      border-radius: 220px;
      border: 2px solid rgba(0, 0, 0, 0.1); }
    .marketing .card .name {
      font-size: 1.5em;
      font-weight: bold; }
    .marketing .card .subtitle {
      font-size: 1.4em;
      font-weight: 100; }
  .marketing .arrow-down {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #416a8e;
    font-size: 0;
    line-height: 0;
    margin: auto; }
