---
---

@charset "UTF-8";

$mobile-break-width: 750px;
$photo-break-width: 600px;

$link-color: #3d8544;
$link-hover-color: lighten($link-color, 20%);

$standard-drop-shadow: 0px 0px 10px 0px rgba(189,189,189,0.5);
$standard-drop-shadow-border: 1px solid #ccc;

$hover-drop-shadow: 0px 0px 10px 0px rgba($link-hover-color, 0.75);
$hover-border: 1px solid rgba($link-hover-color, 0.75);

// -----------------------------
// Built-ins
// -----------------------------

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

body {
    background: #eee;
    color: #000;
}

h1, h2, p {
    margin: 1em 0;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ul, li {
    margin-top: 5px;
}

h1 {
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

h2 {
    font-weight: bold;
    font-size: 1em;
}

h3 {
    font-weight: bold;
    font-size: 1em;
    font-size: 1em;
    border-bottom: 1px solid #000;
}

a {
    text-decoration: none;
    color: $link-color;

    &:hover {
        color: $link-hover-color;
        border-color: $link-hover-color;
    }

    &:focus-visible {
        outline: 1px solid $link-hover-color;
        border-radius: 5px;
        outline-offset: 2px;
    }

    &:not([href]) {
        color: inherit;
        border: none;
    }
}

blockquote {
    font-style: italic;

    .emphasis {
        margin: 0 -0.4em;
        padding: 0.1em 0.4em;
        border-radius: 0.8em 0.3em;
        background: transparent;
        background-image: linear-gradient(
            to right,
            rgba(255, 225, 0, 0.1),
            rgba(255, 225, 0, 0.7) 4%,
            rgba(255, 225, 0, 0.3)
        );
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
    }
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}

sub { 
    top: 0.4em; 
}

time {
    padding-right: .25em;
    font-variant-numeric: tabular-nums;
    letter-spacing: -.012em;
    white-space: pre;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    line-height: 1;
    box-shadow: $standard-drop-shadow;
}

td, th {
    padding: 15px;
    background: #f6f6f6;
    border: $standard-drop-shadow-border;
}

th {
    text-align: left;
    background: #fff;
}

::selection {
    background: lighten($link-color, 40%);
}

// -----------------------------
// Building blocks
// -----------------------------

.container {
    margin: auto;
    max-width: 800px;
    padding: 30px;
}

.header {
    background: #fff;
    box-shadow: $standard-drop-shadow;
}

.navigation {

    #nav-dropdown {
        display: none;
    }

    .submenu {
        display: inline-block;

        @media only screen and (max-width: $mobile-break-width) { 
            display: none;
        }
    }

    .burger-label {
        position: absolute;
        cursor: pointer;
        font-size: 1.4em;
        text-align: center;

        line-height: 55px;
        height: 55px;
        width: 55px;
        right: 20px;
        top: 20px;

        border-radius: 10px;

        &:hover {
            background: #fafafa;
        }

        @media only screen and (min-width: $mobile-break-width) {  
            display: none;
        }
    }

    @media only screen and (max-width: $mobile-break-width) { 
        input:checked~div.submenu {
            display: block;
        }
    }
    
    a {
        border-radius: 5px;
        padding: 10px;
        line-height: 1;
        text-decoration: none;
        border: none;

        &.a--home-link {
            color: black;
            font-weight: bold;
            @media only screen and (max-width: $mobile-break-width) {   
                display: inline-block;
            }
        }

        &:focus-visible {
            outline: 1px solid $link-hover-color;
        }

        &:hover {
            background: #fafafa;
        }

        @media only screen and (max-width: $mobile-break-width) {   
            display: block;
        }
    }
}

.callout {
    background: #fff;
    box-shadow: $standard-drop-shadow;
    padding: 20px;
    margin-bottom: 20px;

    .callout-title {
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.progress-bar {
    border: $standard-drop-shadow-border;
    box-shadow: $standard-drop-shadow;
    height: 20px;

    .progress-bar-inner {
        background: $link-hover-color;
        // Disproportionately wrong at small numbers for now. To be removed.
        // border-right: 1px solid $link-color;
        font-size: 0.2em;
        height: 100%;
        width: 0%;
    }
}

.book-tag,
.journal-tag {
    text-transform: capitalize;

    &::before {
        content: "●";
        position: relative;
        top: -1px;
    }

    &--cosmology::before {
        color: rgb(209, 115, 209);
    }

    &--history::before {
        color: rgb(231, 113, 121);
    }

    &--sociology::before {
        color: rgb(116, 164, 231);
    }

    &--politics::before {
        color: rgb(223, 210, 89);
    }

    &--fiction::before {
        color: rgb(108, 205, 103);
    }

    &--engineering::before {
        color: rgb(227, 171, 107);
    }

    &--goals::before {
        color: rgb(116, 164, 231);
    }

    &--philosophy::before {
        color: rgb(115, 209, 204);
    }

    &--update::before {
        color: rgb(223, 210, 89);
    }
}

.rating-stars {
    display: inline-block;
    font-family: 'Noto Sans Symbols 2', sans-serif;
    padding-top: 2px;
    margin-bottom: -2px;
}

.emoji {
    font-family: 'Noto Emoji', sans-serif;
    display: inline-block;
}

.breadcrumb {
    &--centered {
        text-align: center;
    }
}

// -----------------------------
// Page-specific
// -----------------------------

// TODO: Consolidate shared features of the following grid containers
$standard-grid-collapse-border: 1px solid #d5d5d5;

.reading-container {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr 125px min-content;
    grid-auto-rows: 1fr;
    align-items: center;

    @media only screen and (max-width: $mobile-break-width) {   
        grid-template-columns: auto;
        grid-auto-rows: auto;

        // Moderately a hack
        :nth-child(4n) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: $standard-grid-collapse-border;
        }
    }
}

.reading-images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    a {
        border: none;
        margin: 0;
        padding: 0;
        display: block;
        line-height: 1;

        &:focus-visible {
            outline: none;
            box-shadow: $hover-drop-shadow
        }
    }

    .book {
        position: relative;
        box-shadow: $standard-drop-shadow;
        border: $standard-drop-shadow-border;

        &:hover {
            box-shadow: $hover-drop-shadow;
            border: $hover-border;
        }
    }

    img {
        width: 100%;
        mix-blend-mode: multiply;
        vertical-align: top;  
    }

    @media only screen and (max-width: $photo-break-width) {   
        grid-template-columns: repeat(3, 1fr);
    }
}

.writing-container {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 130px min-content;

    @media only screen and (max-width: $mobile-break-width) {   
        grid-template-columns: auto;
        grid-auto-rows: auto;

        // Moderately a hack
        :nth-child(3n) {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: $standard-grid-collapse-border;
        }
    }
}

// HACK: class names here should be refactored
.photo-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media only screen and (max-width: $photo-break-width) {   
        grid-template-columns: 1fr;
    }

    .left-arrow {
        display: inline-block;

        @media only screen and (max-width: $photo-break-width) {   
            display: none;
        }
    }

    .up-arrow {
        display: none;

        @media only screen and (max-width: $photo-break-width) {   
            display: inline-block;
        }
    }

    .img-link {
        border: none;

        &:focus-visible {
            outline: none;

            .img {
                box-shadow: $hover-drop-shadow;
                border: $hover-border;
            }
        }
    }

    .album-title {
        font-weight: bold;
        padding-top: 30px;
        display: block;

        @media only screen and (max-width: $photo-break-width) {   
            padding-top: 0;
        }
    }

    .img {
        width: 100%;
        line-height: 1;
        padding: 30px;
        background: #fff;
        box-sizing: border-box;

        box-shadow: $standard-drop-shadow;
        border: 1px solid #fff;

        @media only screen and (max-width: $photo-break-width) {   
            padding: 20px;
        }

        &:hover {
            box-shadow: $hover-drop-shadow;
            border: $hover-border;
        }
    }
}

.elephant-vanishes-grid {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: minmax(0, 1fr) min-content;

    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}