$accent-color: darken(#091027, 50%);

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background: #eee;
}

section {
  padding: 80px 0;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 100;
  color: $accent-color;
  letter-spacing: 0.53px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $accent-color;
  color: $accent-color;
}

h2 {
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  letter-spacing: 0.53px;
}

::selection {
  background: #21A66F;
  color: $accent-color;
}

.container {
  margin: auto;
  max-width: 800px;
  padding: 0 30px;
}

#header {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#welcome {
  background: #eee;
}

#links {
  background: #eee;

  a {
    display: block;
    border: 1px solid $accent-color;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      border: 1px dashed $accent-color;
      color: #19316C;
    }
  }
}

.mountains {
  display: block;
  width: 200px;
  margin: 0 auto 30px auto;
}

.logo {
  max-width: 100%;
}

.logo-container {
  font-family: Courier, monospace;
  font-size: 1.4em;
  display: inline-block;
}

.hello-world, .me-online {
  height: 15px;
  margin: 0 0 20px 0;
}
