$accent-color: #FDF6E3;
$mobile-break-width: 600px;

html, body {
    font-size: 1.1em;
    line-height: 1.55em;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Noto Serif', serif;

    @media only screen and (max-width: $mobile-break-width) {
        // font-size: 1em;
        line-height: 1.55em;
    }
}

body {
    background: $accent-color;

    &.darkmode {
        background: #222;
        color: #aaa;
    }
}

h1, p {
    margin: 1em 0;
}

h1 {
    font-weight: bold;
    border-bottom: 3px solid #000;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0.25em;
    font-size: 1em;
    position: relative;

    .darkmode & {
        color: $accent-color;
        border-color: $accent-color;
    }
}

a {
    text-decoration: none;
    border-bottom: 2px solid #0041C3;
    color: #0041C3;

    .darkmode & {
        color: #6699ff;
        border-color: #6699ff;
    }
}

.container {
    margin: auto;
    max-width: 400px;
    padding: 60px 20px 20px 20px;

    @media only screen and (max-width: $mobile-break-width) {
        padding: 20px;
    }
}

.hidden {
    display: none;
}

::selection {
    background: darken($accent-color, 20%);

    .darkmode & {
        background: #111;
    }
}