body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #232323;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-size: 18px; }

h1, h2, h3 {
  margin-bottom: 0;
  margin-top: 0; }

p {
  line-height: 1.5em; }

section {
  margin: 0;
  background: #eee;
  text-align: center;
  padding: 1px 0;
  margin: -1px 0; }
  @media only screen and (max-width: 500px) {
    section {
      padding-left: 20px;
      padding-right: 20px; } }
  @media only screen and (min-width: 501px) and (max-width: 659px) {
    section {
      padding-left: 20px;
      padding-right: 20px; } }
  section .bounded {
    max-width: 660px;
    margin: auto;
    text-align: left; }
  section p {
    margin: 1em 0 0 0; }
  section a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  section h1 {
    color: rgba(255, 255, 255, 0.95); }
  section .break {
    margin: 40px auto;
    height: 0; }

.greetings {
  background: #4679b9;
  color: #dae4f1;
  padding-bottom: 20px; }
  .greetings h1 {
    margin-top: 140px;
    margin-bottom: 0; }
  .greetings h2 {
    margin-bottom: 140px;
    font-weight: 300;
    font-size: 1.3em; }

.about {
  background: #3b474f;
  color: #9fadb7;
  padding-top: 40px;
  padding-bottom: 40px; }
  .about .project {
    padding: 20px 0;
    overflow: auto; }
    .about .project:first-child {
      background: red; }
    .about .project img {
      width: 200px;
      float: left;
      margin: 0 20px 0 0; }
      @media only screen and (max-width: 500px) {
        .about .project img {
          width: 100%;
          margin-bottom: 20px; } }
    @media only screen and (max-width: 500px) {
      .about .project a {
        padding: 20px;
        background: rgba(100, 100, 100, 0.5);
        display: block;
        border: none;
        text-align: center;
        margin: 20px auto; } }
    .about .project h3 {
      color: #fff;
      display: inline-block; }
    .about .project p {
      margin-top: 20px; }

.contact {
  background: #ff4847;
  color: white;
  text-align: center;
  padding: 60px 0; }

.song-holder {
  opacity: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  @media only screen and (max-width: 500px) {
    .song-holder {
      font-size: 0.8em; } }
  @media only screen and (min-width: 501px) and (max-width: 659px) {
    .song-holder {
      font-size: 0.8em; } }
  @media only screen and (max-width: 500px) {
    .song-holder .intro {
      display: block;
      margin-bottom: 0.5em; } }
  @media only screen and (min-width: 501px) and (max-width: 659px) {
    .song-holder .intro {
      display: block;
      margin-bottom: 0.5em; } }
  .song-holder.visible {
    opacity: 1; }
