.book-card {
    border: $standard-drop-shadow-border;
    box-shadow: $standard-drop-shadow;
    
    padding: 20px;
    box-shadow: $standard-drop-shadow;
    border-radius: $standard-border-radius;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 100px 1fr;

    .subtitle {
        font-style: italic;
    }
}
