.callout {
    border: $standard-drop-shadow-border;
    box-shadow: $standard-drop-shadow;

    padding: 20px;
    margin-bottom: 20px;
    border-radius: $standard-border-radius;

    .callout-title {
        font-weight: bold;
        margin-bottom: 20px;
    }
}