.callout {
    background: lighten($body-background-color, 10%);
    box-shadow: $standard-drop-shadow;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: $standard-border-radius;

    .callout-title {
        font-weight: bold;
        margin-bottom: 20px;
    }
}