$mobile-break-width: 750px;
$navigation-break-width: 1200px;
$photo-break-width: 600px;

$body-background-color: #F1E9DB;
$background-color-step-up: #f8f4ed;

$accent-color: #27458e;
$accent-color-hover: lighten($accent-color, 20%);

$secondary-accent-color: #e03339;

$link-color: $accent-color;
$link-hover-color: lighten($link-color, 10%);

$standard-drop-shadow: 0px 5px 10px 0px rgba(137, 117, 86, 0.1);
$standard-drop-shadow-border: 1px solid rgba(137, 117, 86, 0.2);

$hover-drop-shadow: 0px 0px 10px 0px rgba($accent-color-hover, 0.75);
$hover-border: 1px solid rgba($accent-color, 0.75);

$standard-border-radius: 5px;