
// TODO: Consolidate shared features of the following grid containers
// TODO: separate imports as well

.reading-container {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 3px;
    grid-template-columns: 1fr 1fr 125px min-content;
    grid-auto-rows: 1fr;
    align-items: center;

    @media only screen and (max-width: $mobile-break-width) {
        grid-template-columns: auto;
        grid-auto-rows: auto;

        // Moderately a hack
        :nth-child(4n) {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
}

.reading-images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    a {
        border: none;
        margin: 0;
        padding: 0;
        display: block;
        line-height: 1;

        &:focus-visible {
            outline: none;
            box-shadow: $hover-drop-shadow
        }
    }

    .book {
        position: relative;
        box-shadow: $standard-drop-shadow;
        border: 1px solid $body-background-color;

        &:hover {
            box-shadow: $hover-drop-shadow;
            border: $hover-border;
        }
    }

    img {
        width: 100%;
        mix-blend-mode: multiply;
        vertical-align: top;
    }

    @media only screen and (max-width: $photo-break-width) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.elephant-vanishes-grid {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    grid-template-columns: minmax(0, 1fr) min-content;
    margin-bottom: 20px;

    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}