.header {
    background: #fff;

    padding: 20px;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 160px;

    @media only screen and (max-width: $navigation-break-width) { 
        position: relative;
        left: auto;
        top: auto;
        bottom: auto;
        width: auto;
    }
}

.navigation {

    #nav-dropdown {
        display: none;
    }

    .submenu {
        display: block;

        @media only screen and (max-width: $navigation-break-width) { 
            display: none;
        }
    }

    .subsection {
        border-top: 1px solid #eee;
        margin-top: 10px;
        padding-top: 5px;
    }

    .burger-label {
        position: absolute;
        cursor: pointer;
        font-size: 1.4em;
        text-align: center;

        line-height: 55px;
        height: 55px;
        width: 55px;
        right: 10px;
        top: 10px;

        border-radius: 10px;

        &:hover {
            background: lighten($link-color, 35%);
        }

        @media only screen and (min-width: $navigation-break-width + 1px) {  
            display: none;
        }
    }

    @media only screen and (max-width: $navigation-break-width) { 
        input:checked~div.submenu {
            display: block;
        }
    }

    a {
        border-radius: 5px;
        padding: 10px;
        line-height: 1;
        border: none;
        display: block;
        margin-top: 5px;
        color: #000;

        span {
            border-bottom: 1px solid #eee;
        }

        &.a--home-link {
            color: black;
            font-weight: bold;
            margin-top: 0;

            &:hover {
                color: black;
            }

            @media only screen and (max-width: $navigation-break-width) {  
                margin-right: 60px;
            }
        }

        &:focus-visible {
            outline: 1px solid $link-hover-color;
        }

        &:hover {
            background: lighten($link-color, 35%);
            color: $link-color;

            span {
                border-bottom: none;
            }
        }
    }
}