.header {
    line-height: 1;

    // Something is wrong here.
    padding: 11px 25px 30px 25px;

    @media only screen and (max-width: $navigation-break-width) {
        box-shadow: $standard-drop-shadow;
        border: $standard-drop-shadow-border;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    a {
        line-height: 1;
        color: #000;
        border: none;
        text-decoration: none;
        display: block;
        margin-bottom: 20px;

        @media only screen and (max-width: $navigation-break-width) {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;

            &:first-of-type {
                display: block;
                margin-bottom: 10px;
            }
        }

        &:first-of-type {
            font-weight: bold;
        }

        &:focus-visible {
            outline: 1px solid $accent-color-hover;
        }

        &:hover {
            color: $accent-color-hover;
        }
    }
}