.header {
    // border-bottom: 1px solid darken($body-background-color, 7%);
    background: $accent-color;

    .container {
        display: grid;
        grid-template-columns: auto auto;
        // padding-top: 10px;
        // padding-bottom: 10px;

        > :nth-child(2) {
            text-align: right;
            a {
                font-weight: normal;
            }
        }
    }

    a {
        line-height: 1;
        color: lighten($accent-color, 40%);
        font-weight: bold;
        border: none;
        text-decoration: none;

        &:focus-visible {
            outline: 1px solid $accent-color-hover;
        }

        &:hover {
            color: lighten($accent-color, 50%);
        }
    }
}