.pagination-container {
    text-align: center;
    margin-bottom: 20px;

    .pagination-link {
        border: $standard-drop-shadow-border;
        border-right: none;
        padding: 5px 12px;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;

        &--selected {
            background: lighten($body-background-color, 5%);
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-right: $standard-drop-shadow-border;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    @media only screen and (max-width: $mobile-break-width) {
        display: none;
    }
}

.page-by-page-container {
    display: none;
    margin-bottom: 20px;

    grid-column-gap: 5px;
    grid-row-gap: 3px;
    grid-template-columns: 1fr min-content 1fr;
    grid-auto-rows: 1fr;
    align-items: center;

    .page-by-page-link {
        display: block;
        &:nth-of-type(2) {
            text-align: right;
        }
    }

    .page-by-page-reference {
        text-align: center;
    }

    @media only screen and (max-width: $mobile-break-width) {
        display: grid;
        border-bottom: $standard-drop-shadow-border;
        padding-bottom: 20px;
    }
}

.prev-next {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    .next {
        text-align: right;
    }
}