.pagination-container {
    text-align: center;
    margin-bottom: 20px;

    .pagination-link {
        border: $standard-drop-shadow-border;
        border-right: none;
        padding: 5px 12px;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;

        &--selected {
            background: lighten($body-background-color, 5%);
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-right: $standard-drop-shadow-border;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
