.progress-bar {
    border: 1px solid #e8e8e8;
    box-shadow: $standard-drop-shadow;
    height: 20px;

    .progress-bar-inner {
        background: $link-hover-color;
        font-size: 0.2em;
        height: 100%;
        width: 0%;
    }
}