$star-size: 14px;
$star-margin: 2px;

.rating-stars {
    display: inline-block;
    width: 5 * ($star-margin + $star-size);
    margin-top: 1px;

    .star {
        width: $star-size;
        height: $star-size;
        margin-right: $star-margin;
        background: no-repeat center center url('../img/star.svg');
        display: inline-block;
        background-size: contain;
    }
}