body, html{
	background: #eee;
	margin:0px;
	padding:0px;
	font-family:"Helvetica", sans-serif;
}

#line{
	font-size:20px;
	text-align:center;
	color:#666;
	height:21px;
	width:960px;
	padding:20px;
	margin:auto;
	border-radius:20px;
	background:#333;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-480px;
	margin-top:-35px;
	background:rgba(150,150,150,0.1);
}

a{
	color:#69C;
	text-decoration:none;
}

a:hover{
	color:#9CF;
}

.the404{
	color:#999;
}