html {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background: #333 url('../img/common/debut_dark.png');
}

h1{
  color: rgba(80, 80, 90, 0.8);
  text-shadow: 1px 4px 6px #eee, 0 0 0 #000, 1px 4px 6px #eee;
  font-size: 3em;
  margin-top: 3em;
  font-family: "Helvetica", "Droid Serif";
  letter-spacing: -2px;
}

.float-wrap {
  width: 1000px;
}

.container{
  width: 400px;
  padding: 0 20px;
  background: #eeefef;
  border-right: 1px dotted #ccc;
  float: left;
}

.hidden{
  display: none;
}

.stripe {
  background: rgba(255,255,255, 0.5);
  color: rgba(70,70,70, 0.7);
  padding: 70px 0;
  font-size: 1.4em;
}

.bottom-stripe {
  border-bottom: 0px solid rgba(100, 100, 100, 0.8);
}

.transition-background{
  transition: background 2s;
  -moz-transition: background 2s; /* Firefox 4 */
  -webkit-transition: background 2s; /* Safari and Chrome */
  -o-transition: background 2s; /* Opera */
}

.transition-color {
  transition: color 2s;
  -moz-transition: color 2s; /* Firefox 4 */
  -webkit-transition: color 2s; /* Safari and Chrome */
  -o-transition: color 2s; /* Opera */
}

#top, #bottom, #left, #right {
  background: #333;
  position: fixed;
  z-index: 1000;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#top, #bottom {
  left: 0px;
  right: 0px;
  height: 15px;
}

#top {
  top: 0px;
}

#bottom {
  bottom: 0px;
}

#left {
  left: 0px;
}

#right {
  right: 0px;
}

p {
  line-height: 1.5em;
  font-size: 16px;
}

a{
  color: inherit;
  text-decoration: none;
  color: #333;
  border-bottom: 1px dotted #aaa;
}

a:hover{
  color: #555;
}

.drawer {
  color: #333;
  background: rgba(255, 255, 255, 0.9);
}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }​