---
title: What I've been reading
layout: post
---
<p class="view-selector">
  <a href="/reading/">Table view</a>&nbsp;&nbsp;|&nbsp;&nbsp;<strong><a href="/reading/by-cover/">Cover view</a></strong>
</p>
<div class="reading-images-container">
{% for page in site.posts %}
  {% if page.layout == 'book' %}
    {% if page.book_image %}
      <div>
        <div class="book">
          <a href="{{page.url}}"><img src="/static/img/books/{{page.book_image}}" alt="{{ page.title }}" /></a>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
</div>