
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}} &middot; Andrew Capshaw</title>
    <meta name="author" content="Andrew Capshaw" />
    <meta name="description" content="Hi, I'm Andrew! I am a software engineering manager in Austin, TX.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/img/foreach.png" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="apple-touch-icon" href="/static/img/foreach.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
    <meta name="theme-color" content="#005eff"/>
</head>
<body>

{{ content }}

</body>
</html>
