
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Andrew Capshaw &middot; {{page.title}}</title>
    <meta name="author" content="Andrew Capshaw" />
    <meta name="description" content="Hi, I'm Andrew! I am a software engineering manager in Austin, TX.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/img/foreach.png" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link rel="apple-touch-icon" href="/static/img/foreach.png" />
</head>
<body>

{{ content }}

<script>
    // ******************************************************************************
    // Hacky code to enable dark-mode by opt-in or time-of-day — please don't judge!
    // Would be really cool to base this on sun and/or user preferences too
    // ******************************************************************************
    var currentHour = (new Date()).getHours();
    var isTimeForDarkMode = currentHour > 17 || currentHour < 8;
    var hasDarkModeToggle = window.location.href.includes('darkmode');
    var hasLightModeToggle = window.location.href.includes('lightmode');
    var darkmodeSwitch = document.getElementById("shades-switch");

    // For whatever reason, use cookie keys instead of values for simplicity
    var hasDarkModeCookie = document.cookie.match(/^(.*;)?\s*darkmode\s*=\s*[^;]+(.*)?$/);
    var hasLightModeCookie = document.cookie.match(/^(.*;)?\s*lightmode\s*=\s*[^;]+(.*)?$/);

    /**
     * Copied from https://javascript.info/cookie
     */
    function setCookie(name, value, options = {}) {

        options = {
            path: '/',
            // add other defaults here if necessary
            ...options
        };

        if (options.expires instanceof Date) {
            options.expires = options.expires.toUTCString();
        }

        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

        for (let optionKey in options) {
            updatedCookie += "; " + optionKey;
            let optionValue = options[optionKey];
            if (optionValue !== true) {
                updatedCookie += "=" + optionValue;
            }
        }

        document.cookie = updatedCookie;
    }

    /**
     * Copied from https://javascript.info/cookie
     */
    function deleteCookie(name) {
        setCookie(name, "", {
            'max-age': -1
        })
    }

    function makeDark(forSession=false) {
        document.body.classList.add('darkmode');
        darkmodeSwitch.checked = false;

        if (forSession) {
            setCookie("darkmode", "true");
            deleteCookie("lightmode");
        }
    }

    function makeLight(forSession=false) {
        document.body.classList.remove('darkmode');
        darkmodeSwitch.checked = true;

        if (forSession) {
            setCookie("lightmode", "true");
            deleteCookie("darkmode");
        }
    }

    if ((isTimeForDarkMode || hasDarkModeToggle || hasDarkModeCookie) && !hasLightModeToggle && !hasLightModeCookie) {
        makeDark();
    } else {
        makeLight();
    }

    darkmodeSwitch.addEventListener("click", function() {
        if (darkmodeSwitch.checked) {
            makeLight(forSession=true);
        } else {
            makeDark(forSession=true);
        }
    });
</script>
</body>
</html>
