<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
<head>
  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <title>{{ page.title }}</title>
  <meta name='author' content='Andrew Capshaw' />
  <meta name="description" content="I'm an Junior studying computer science at Rice University in Houston, TX. On this site I host a few of my projects and some hobby code.">
  <link rel='shortcut icon' type='image/x-icon' href='/img/common/foreach.ico' />
  <link rel='stylesheet' href='/css/style.css' type='text/css' />
  <link rel='stylesheet' href='/css/pygments/monokai.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src='http:////ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'></script>
</head>
<body>

  <div id='container'>
    <div id='header'>
      <div class='header-spacer'></div>
      <h1>Andrew Capshaw</h1>
      <a class='nav-link' href='/'>Home</a> &middot;
      <a class='nav-link' href='/files/CapshawAndrew_resume.pdf'>Resume</a>
      <p>
        I'm an Junior studying computer science at Rice University in Houston, TX.
      </p>
      <p>
        My email is <a href='mailto:capshaw@rice.edu'>capshaw@rice.edu</a>
      </p>
      <!-- p>
        Chat with me using XMPP <a href='xmpp:capshaw@jabber.org'>capshaw@jabber.org</a>
      </p -->
    </div>

    <div id='content'>
      <div class='header-spacer'></div>
      {{ content }}
    </div>
  </div>

  <div id='last-fm-container'>
      <p id='song-list-loading'>Loading via <a href='http://last.fm'>last.fm</a></p>
      <p id='song-list' class='hidden'>&#9833;&nbsp;</p>
      <p id='song-list-error' class='hidden'>Sorry, the <a href='http://last.fm'>last.fm</a> api seems to be down.</p>
  </div>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32825047-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type='text/javascript' src='/js/index.js'></script>

</body>
</html>