<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
<head>
  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <title>{{ page.title }}</title>
  <meta name='author' content='Andrew Capshaw' />
  <meta name="description" content="I'm an Junior studying computer science at Rice University in Houston, TX. On this site I host a few of my projects and some hobby code.">
  <link rel='shortcut icon' type='image/x-icon' href='/img/common/foreach.ico' />
  <link rel='stylesheet' href='/css/new-style.css' type='text/css' />
</head>
<body>

  <div id='header'>
    <div class='header-spacer'></div>
    <h1>Andrew Capshaw</h1>
    <a class='nav-link' href='/'>Home</a> <!--&middot; -->
    <p>
      I'm an Junior studying computer science at Rice University in Houston, TX.
    </p>
    <p>
      My email is <a href='mailto:capshaw@rice.edu'>capshaw@rice.edu</a>
    </p>
  </div>

  <div id='content'>
    <div class='header-spacer'></div>
    {{ content }}
  </div>


</body>
</html>