<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en-us'>
<head>
   <meta http-equiv='content-type' content='text/html; charset=utf-8' />
   <title>{{ page.title }}</title>
   <meta name='author' content='Andrew Capshaw' />
   <link rel='stylesheet' href='/css/new-style.css' type='text/css' />
   <link href='http://fonts.googleapis.com/css?family=Gilda+Display' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id='header'>
    <a href='/'>Andrew Capshaw</a>
    <a href='mailto:capshaw@rice.edu'>capshaw@rice.edu</a>
  </div>

  <div id='content'>
    {{ content }}
  </div>


</body>
</html>