<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <title>Andrew Capshaw &middot; {{page.title}}</title>
    <meta name='author' content='Andrew Capshaw' />
    <meta name='description' content="I'm a Senior studying computer science at Rice University in Houston, TX.">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
    <link rel='icon' href='/static/img/foreach.ico' />
    <link rel='stylesheet' href='/static/css/main.css' type='text/css' />
    <link rel='stylesheet' href='/static/css/document.css' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,400italic,900' rel='stylesheet' type='text/css'>
    <script src='//code.jquery.com/jquery-1.10.2.min.js'></script>
</head>
<body>
    {{ content }}
</body>
</html>