<!DOCTYPE html>
<html>
<head>
  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <title>Andrew Capshaw &middot; {{ page.title }}</title>
  <meta name='author' content='Andrew Capshaw' />
  <meta name='description' content="I'm an Senior studying computer science at Rice University in Houston, TX.">
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
  <link rel='shortcut icon' type='image/x-icon' href='/img/common/foreach.ico' />
  <link rel='stylesheet' href='/css/pygments/monokai.css' type='text/css' />
  <link rel='stylesheet' href='/css/main.css' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
</head>
<body ng-app>

{{ content }}

</body>
</html>