---
layout: page
---

{% if page.title-skip %}

{% else %}
<h1>
    {{ page.title }}{% if page.subtitle %}: <span class="subtitle">{{ page.subtitle }}</span>{% endif %}
</h1>
{% endif %}

{{ content }}

{% if page.previous.url or page.next.url %}
<div class="prev-next">
    <div class="prev">
    {% if page.previous.url %}
        <a href="{{page.previous.url}}">&larr; {{page.previous.title}}</a>
    {% endif %}
    </div>
    {% if page.previous.url and page.next.url %}
    <div class="prev-next-spacer"></div>
    {% else %}
    <div></div>
    {% endif %}
    {% if page.next.url %}
    <div class="next">
        <a href="{{page.next.url}}">{{page.next.title}} &rarr;</a>
    </div>
    {% endif %}
</div>
{% endif %}