---
layout: header
---

<div class='post-title'>
    <h1>{{ page.title }}</h1>
    <div class='break-short'></div>
    <p>{{ page.date | date: "%B %d, %Y" }}</p>
</div>

{{ content }}

<div class='break-short'></div>

<div class='link-holder'>
  {% if page.previous.url %}
  <div class='previous-post'>
      &larr; <em>Previously</em> <br>
      <a href="{{page.previous.url}}" title="Previous: {{page.previous.title}}">
        {{page.previous.title}}
      </a>
  </div>
  {% endif %}

  {% if page.next.url %}
  <div class='next-post'>
      <em>Subsequently</em> &rarr;<br>
      <a href="{{page.next.url}}" title="Next: {{page.next.title}}">{{page.next.title}} </a>
  </div>
  {% endif %}
</div>